.re_size_detail {
    display: flex;
    margin: 0 auto;
}

.picture_desc {
    margin: 10px 10%;
}

.article_author {
    margin-left: 80%;
}

#line-separate {
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 10px;
}

.contact {
    display: flex;
    justify-content: space-around;
    margin: 50px 10px;
}

.contact p {
    color: #fff;
    font-size: 13px;
}

.admin-list {
    display: flex;
}

.admin-item-name {
    margin-left: 10px;
}
